body {
    font-family: Arial, sans-serif;
}

.btn {
    padding: 10px 40px;
    font-size: 18px;
    color: #fff;
    background-color: darkgreen;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease .3s;
}

.btn:hover {
    background-color: green;
}

.page-wrapper.red {
    background-color: red;
}

.carousel {
    min-height: 50vh;
    background-color: #eee;
    margin: 30px 0;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(129, 20, 161);
    overflow: hidden;
    transition: all ease .3s;
}

.slide.left {
    left: -100%;
}

.slide.right {
    left: 100%;
}